<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Document</title>
  </head>
  <body class="form">
    <h2>상품 목록</h2>
    <table class="listTable">
      <tr>
        <th>상품명</th>
        <th>작성자명</th>
        <th>상태</th>
        <th>작성일</th>
      </tr>
      <% for(let i=0; i < posts.length; i++){ %>
      <tr class="content">
        <td>
          <!-- <p><%= posts[i]._id.toString() %></p> -->
          <%= posts[i].productName %>
          <a href="/detail/<%= posts[i]._id.toString() %>"></a>

        </td>
        <td><%= posts[i].idName %></td>
        <td><%= posts[i].sale %></td>
        <td><%= posts[i].when %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
